<div class="company" data-react-class="components/company_app">
</div>

<div id="timeline" data-react-class="components/timeline" data-react-props="<%= { from: 5.years.ago.to_date, till: DateTime.now.to_date }.to_json %>">
</div>
