@import 'normalize';
@import 'bourbon';
@import 'font-awesome-sprockets';
@import 'font-awesome';

html {
  @include box-sizing(border-box);
  
  height: 100%;
}

*,
*::before,
*::after {
  @include box-sizing(inherit);
}

body {
  @include display(flex);
  @include flex-direction(column);

  margin: 0;
  min-height: 100%;
  padding: 0;
  
  > header {
    background-color: #ccc;
    height: 40px;
  }
  
  > main {
    @include flex(1);
  }
  
}

@import 'timeline';
@import 'modal';
@import 'button';
@import 'person_form';
